- name: Windows Toolbox Servers (Phase 1 Debug)
  hosts: toolbox_servers
  gather_facts: false

  vars_files:
    - ../group_vars_common/windows/software_catalog.yml
    - ../group_vars_common/windows/toolbox/base.yml

  pre_tasks:
    - name: Load team blueprint if host is in a team group (alpha example)
      include_vars:
        file: "../group_vars_common/windows/toolbox/team_alpha.yml"
      when: "'team_toolbox_alpha' in group_names"

    - name: Compute final roles for toolbox
      set_fact:
        _team_roles: "{{ team_roles | default([]) }}"
        _remove_roles: "{{ remove_roles | default([]) }}"
        final_roles: >-
          {{
            (base_roles | default([]) + (team_roles | default([])))
            | unique
            | difference(remove_roles | default([]))
          }}

    - name: Debug composition
      debug:
        msg:
          host: "{{ inventory_hostname }}"
          groups: "{{ group_names }}"
          base_roles: "{{ base_roles | default([]) }}"
          team_roles: "{{ _team_roles }}"
          remove_roles: "{{ _remove_roles }}"
          final_roles: "{{ final_roles }}"

  tasks:
    - name: Execute final roles (debug-only roles for now)
      include_role:
        name: "windows/{{ item }}"
      loop: "{{ final_roles }}"